// bower:scss
// endbower
body {
  background-color: #f7f7f7;
  color: #000000;
  font-family: 'Exo 2', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.c-top {
  display: block;
  padding: 25px 0 140px 0;
  background: url('../images/top_bg.png') no-repeat left top;
  background-size: contain;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &>span {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    max-width: 100%;
  }
  &__phone {
    display: inline-block;
    margin: 0 35px;
    color: #000000;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }
  &__link {
    display: inline-block;
    padding: 12px 27px;
    border: 1px solid #b2b2b2;
    border-radius: 999rem;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__content {
    display: block;
    width: 100%;
    max-width: 680px;
    margin-top: 120px;
  }
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #000000;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.19;
  }
  &__button {
    display: inline-block;
    margin-bottom: 110px;
    padding: 12px 36px;
    border-radius: 999rem;
    border: 1px solid #ff1710;
    background-color: #ed433e;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 155px;
    margin-bottom: 20px;
    &-image {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 90px;
      height: 90px;
      img,
      svg {
        max-width: 100%;
      }
    }
    &-title {
      display: block;
      color: #010101;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.c-goods {
  display: block;
  padding: 95px 0 0 5px;
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    max-width: 370px;
    height: 245px;
    margin-bottom: 27px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      max-width: 310px;
      height: 64px;
      margin-bottom: 27px;
      padding: 4px 4px 4px 50px;
      overflow: hidden;
      border-radius: 0 5px 5px 0;
      background-color: rgba(255, 255, 255, 0.85);
      color: #000000;
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.c-catalog {
  display: block;
  padding: 80px 0 100px;
  &__title {
    display: block;
    margin: 0 0 48px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
     ::-webkit-input-placeholder {
      color: #000000;
    }
     ::-moz-placeholder {
      color: #000000;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #000000;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #000000;
    }
    input {
      display: inline-block;
      width: 100%;
      max-width: 270px;
      padding: 16px 35px;
      border: 0;
      outline: 0;
      border-radius: 999rem;
      background-color: #ffffff;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
    }
    button {
      display: inline-block;
      padding: 14px 60px;
      border: 0;
      outline: 0;
      border-radius: 999rem;
      background-color: #ed433e;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.c-why {
  display: block;
  padding: 95px 0 100px 0;
  background: url('../images/why_bg.jpg') no-repeat left bottom;
  background-size: cover;
  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__papers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 25px;
  }
  &__paper {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    height: 170px;
    margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    box-shadow: 11px 12px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: scale(0.95);
      text-decoration: none;
    }
  }
  &__image {
    display: inline-block;
    max-width: 100%;
  }
  &__article {
    display: block;
    h3 {
      display: block;
      margin: 27px 0 25px 0;
      color: #000000;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
    }
    p {
      display: block;
      margin: 0 0 120px 0;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.33;
    }
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        margin-bottom: 16px;
        padding: 0 0 4px 33px;
        background: url('../images/icon_li.svg') no-repeat left top;
        color: #000000;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.33;
      }
    }
  }
}

.c-spec {
  display: block;
  padding: 90px 0 100px 0;
  background: url('../images/spec_bg.jpg') no-repeat center;
  background-size: cover;
  &__flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
  }
  &__text {
    display: block;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 560px;
     ::-webkit-input-placeholder {
      color: #000000;
    }
     ::-moz-placeholder {
      color: #000000;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #000000;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #000000;
    }
    input {
      display: inline-block;
      width: 100%;
      max-width: 270px;
      margin-bottom: 17px;
      padding: 16px 35px;
      border: 0;
      outline: 0;
      border-radius: 999rem;
      background-color: #ffffff;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
    }
    button {
      display: inline-block;
      padding: 16px 60px;
      flex: 1 0 auto;
      border: 0;
      outline: 0;
      border-radius: 999rem;
      background-color: #ed433e;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.c-footer {
  display: block;
  padding: 50px 0;
  background: url('../images/footer_bg.jpg') no-repeat center;
  background-size: cover;
  &__logo {
    display: inline-block;
    max-width: 100%;
  }
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
  }
  p {
    display: block;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
  }
  a {
    display: inline-block;
    border-bottom: 1px solid #858687;
    color: #ffffff;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      border-color: transparent;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.c-gallery {
  display: block;
  padding: 90px 0 60px 0;
  &__title {
    display: block;
    margin-bottom: 48px;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__for {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto 10px auto;
  }
  &__big {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1030px;
    height: 540px;
    img,
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__nav {
    display: block;
    position: relative;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    .slick-list {
      padding: 0 0 40px 0;
    }
    .slick-current {
      .c-gallery__small {
        box-shadow: 6px 6px 51px rgba(0, 0, 0, 0.38);
      }
    }
    .item {
      outline: 0;
    }
    .slick-prev {
      top: 25%;
      bottom: auto;
      left: -50px;
      right: auto;
      width: 13px;
      height: 25px;
      background: url('../images/icon_sync_left.svg') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      top: 25%;
      bottom: auto;
      right: -50px;
      left: auto;
      width: 13px;
      height: 25px;
      background: url('../images/icon_sync_right.svg') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  &__small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    height: 90px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #d0d0d0;
    img,
    iframe {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.c-companies {
  display: block;
  padding: 90px 0 60px 0;
  &__title {
    display: block;
    margin-bottom: 48px;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__for {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1030px;
    margin: 0 auto 40px auto;
  }
  &__big {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 850px;
    &>span {
      height: 310px;
      overflow: hidden;
    }
    &-image {
      display: inline-block;
      width: 100%;
      max-width: 375px;
      height: 310px;
      margin-right: 50px;
      object-fit: contain;
      object-position: center;
    }
    &-title {
      display: block;
      margin: 0 0 10px 0;
      color: #000000;
      font-size: 24px;
      font-weight: 700;
    }
    &-who {
      display: block;
      margin-bottom: 20px;
      color: #000000;
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
    }
    &-text {
      display: block;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
    }
  }
  &__nav {
    display: block;
    position: relative;
    width: 100%;
    max-width: 820px;
    margin: 0 auto;
    .slick-current {
      .c-companies__small {
        border: 2px solid black;
      }
    }
    .item {
      outline: 0;
    }
    .slick-prev {
      top: 35%;
      bottom: auto;
      left: -50px;
      right: auto;
      width: 13px;
      height: 25px;
      background: url('../images/icon_sync_left.svg') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      top: 35%;
      bottom: auto;
      right: -50px;
      left: auto;
      width: 13px;
      height: 25px;
      background: url('../images/icon_sync_right.svg') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  &__small {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 160px;
    height: 90px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: contain;
      object-position: center;
    }
  }
}

.c-collect {
  display: block;
  position: relative;
  padding: 90px 0 100px 0;
  background: url('../images/steps_bg.jpg') no-repeat center;
  background-size: cover;
  &__flex {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__thx {
    display: none;
    &-title {
      display: block;
      margin: 0 0 40px 0;
      color: #ffffff;
      font-size: 60px;
      font-weight: 300;
      text-align: center;
    }
    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 300;
      text-align: center;
    }
  }
  &_handed {
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 67px;
      height: 84px;
      left: 50%;
      bottom: 0;
      margin-left: -33px;
      background: url('../images/icon_hand.png') no-repeat center;
      background-size: contain;
    }
  }
  &__title {
    display: block;
    margin-bottom: 48px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__button {
    display: inline-block;
    padding: 15px 50px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background-color: #ed433e;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .tab-controls {
    width: 0px;
    height: 0px;
    overflow: hidden !important;
  }
  [class^='tab-item-'] {
    &:not(:first-of-type) {
      display: none;
    }
  }
}

.c-stepper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  &__wrapper {
    display: none;
    width: 100%;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 300px;
  }
  &__title {
    display: block;
    margin: 0 0 0 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  &__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
  }
  &__close {
    display: inline-block;
    margin-right: 18px;
    padding: 16px 40px;
    border-radius: 999rem;
    border: 1px solid #f9f3eb;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__next {
    display: inline-block;
    padding: 17px 45px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background-color: #ed433e;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    input {
      display: none;
    }
    [type="radio"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 15px;
      right: 15px;
      background: url('../images/icon_selected.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__card {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    width: 224px;
    height: 224px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      max-width: 155px;
      height: 41px;
      margin-bottom: 18px;
      padding: 4px 4px 4px 35px;
      overflow: hidden;
      border-radius: 0 5px 5px 0;
      background-color: rgba(255, 255, 255, 0.85);
      color: #000000;
      font-size: 18px;
      font-weight: 500;
    }
  }
  &__types {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 422px;
    input {
      display: none;
    }
    [type="radio"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
      top: 10px;
      right: 10px;
      background: url('../images/icon_selected.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__type {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    width: 95px;
    height: 95px;
    margin-bottom: 13px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  &__sizes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 480px;
    .row {
      width: 100%;
    }
    input {
      display: none;
    }
    [type="radio"]:not(:checked)+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 19px;
      height: 19px;
      top: 0;
      left: 0;
      background: url('../images/icon_check.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
    [type="radio"]:checked+label:before {
      display: block;
      position: absolute;
      content: '';
      width: 19px;
      height: 19px;
      top: 0;
      left: 0;
      background: url('../images/icon_checked.png') no-repeat center;
      background-size: contain;
      z-index: 1;
    }
  }
  &__size {
    display: block;
    position: relative;
    margin-bottom: 14px;
    padding-left: 38px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  &__input {
    display: block;
    width: 100%;
    max-width: 590px;
    padding: 27px 36px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: #ededed;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
  }
}

.not-active {
  opacity: 0.5;
  pointer-events: none !important;
  cursor: default !important;
  text-decoration: none;
}

.h-w-100 {
  width: 100%;
}

@media (max-width: 1399px) {}

@media (max-width: 1199px) {
  .c-top {
    padding: 20px 0;
    background: none;
  }
  .c-top__header {
    justify-content: space-around;
    &>span {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .c-top__phone {
    margin: 10px 0;
    font-size: 16px;
  }
  .c-top__content {
    margin: 0;
  }
  .c-top__title {
    margin: 20px 0;
    font-size: 32px;
    text-align: center;
  }
  .c-top__button {
    display: block;
    margin: 0 0 20px 0;
    padding: 12px 14px;
    text-align: center;
  }
  .c-top__cards {
    justify-content: space-around;
  }
  .c-top__card-image {
    justify-content: center;
    align-items: center;
    height: 75px;
  }
  .c-top__card {
    align-items: center;
    text-align: center;
  }
  .c-goods {
    padding: 20px 0 5px 0;
  }
  .c-goods__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .c-goods__card-title {
    justify-content: center;
    padding: 2px 8px;
    border-radius: 0;
    text-align: center;
  }
  .c-catalog {
    padding: 0 0 20px 0;
  }
  .c-catalog__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .c-catalog__form {
    justify-content: center;
    input {
      margin-bottom: 4px;
    }
  }
  .c-collect {
    padding: 20px 0;
  }
  .c-collect__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .c-collect__thx-title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .c-collect__thx-text {
    margin: 0;
    font-size: 24px;
  }
  .c-collect__button {
    padding: 15px;
    text-align: center;
  }
  .c-collect_handed:after {
    display: none;
  }
  .c-gallery {
    padding: 20px 0;
  }
  .c-gallery__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .c-gallery__big {
    height: 240px;
  }
  .c-gallery__nav .slick-prev {
    left: 0;
  }
  .c-gallery__nav .slick-next {
    right: 0;
  }
  .c-why {
    padding: 20px 0;
  }
  .c-why__article p {
    margin-bottom: 30px;
  }
  .c-companies {
    padding: 20px 0;
  }
  .c-companies__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .c-companies__for {
    margin-bottom: 10px;
  }
  .c-companies__nav .slick-prev {
    left: 0;
  }
  .c-companies__nav .slick-next {
    right: 0;
  }
  .c-spec {
    padding: 20px 0;
  }
  .c-spec__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .c-spec__form button {
    flex: 0 0 auto;
    width: 100%;
    padding: 14px;
    text-align: center;
  }
  .c-spec__form input {
    max-width: 100%;
  }
  .c-footer {
    padding: 30px 0;
  }
  .c-top__logo {
    margin-bottom: 10px;
  }
  .c-top__phone {
    display: none;
  }
  .c-stepper__title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .c-stepper__cards {
    justify-content: space-around;
  }
  .c-stepper__close {
    margin: 0px 2px 10px 2px;
  }
  .c-stepper__next {
    margin: 0 2px 10px 2px;
  }
  .c-stepper__content {
    min-height: auto;
  }
  .c-stepper__input {
    padding: 12px 16px;
  }
  .c-goods__cards {
    justify-content: space-around;
  }
  .c-stepper__card {
    width: 170px;
    height: 110px;
  }
  .c-stepper__input {
    margin: 20px 0;
  }
  
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}